[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "themes/kamrad-shortcodes"]
	path = themes/kamrad-shortcodes
	url = https://github.com/3scale-labs/kamrad-shortcodes.git
