<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ if .Site.Copyright }}{{ .Site.Copyright }}{{ else }}{{ .Site.Title }}{{ end }}</b></a>.
		{{- range .Site.Menus.footer }}
		<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
		{{- end }}
	</p>
	<div id="greeter"></div>
</footer>

{{ $env := cond .Site.IsServer "\"development\"" "\"production\"" }}
{{ $opts := dict "params" (dict "name" "Kamrad") "defines" (dict "process.env.NODE_ENV" $env) }}
{{ $js := resources.Get "js/index.ts" | babel | js.Build $opts }}
<script src="{{ $js.RelPermalink }}"></script>
