{{ $env := cond .Site.IsServer "\"development\"" "\"production\"" }}
{{ $opts := dict "defines" (dict "process.env.NODE_ENV" $env) }}

{{ if .HasShortcode "api-docs" }}
  {{ $apiDocs := resources.Get "js/apiDocs.ts" | babel | js.Build $opts }}
  <script src="{{ $apiDocs.RelPermalink }}"></script>
{{end}}
{{ if .HasShortcode "pong" }}
    {{ $pong := resources.Get "js/pong.ts" | babel | js.Build $opts }}
    <script src="{{ $pong.RelPermalink }}"></script>
{{end}}

{{ $login := resources.Get "js/login.ts" | babel | js.Build $opts }}
{{ $logoutButton := resources.Get "js/logoutButton.ts" | babel | js.Build $opts }}

{{ $jsBundle := slice $login $logoutButton | resources.Concat "js/bundle.js" }}

<script src="{{ $jsBundle.RelPermalink }}"></script>

{{ $devServer := "http://localhost:1314"}}

<script type="text/javascript" src="{{ if .Site.IsServer }}{{$devServer}}/js/app.bundle.js{{ else }}{{$.Site.BaseURL}}/{{ index .Site.Data.manifest "app.js" | relURL }}{{ end }}"></script>