{{ $devServer := "http://localhost:1314"}}

<script type="text/javascript" src="{{ if .Site.IsServer }}{{$devServer}}/js/bundle.js{{ else }}{{.Site.BaseURL}}/{{ index .Site.Data.manifest "bundle.js" | relURL }}{{ end }}"></script>

{{ $shortcodeScripts := dict "pong" "pong" "api-docs" "apiDocs" }}

{{ range $shortcode, $script := $shortcodeScripts }}
  {{ if $.HasShortcode $shortcode }}
    <script type="text/javascript" src="{{ if $.Site.IsServer }}{{$devServer}}/js/{{$script}}.js{{ else }}{{$.Site.BaseURL}}/{{ index $.Site.Data.manifest (printf "%s.js" $script) | relURL }}{{ end }}"></script>
  {{end}}
{{ end }}

{{/* authServiceWorker is the only script build with ESBuild, since it's needed to be served from the same domain that the rest*/}}
{{ $serviceWorker := resources.Get "js/auth/authServiceWorker.ts" | babel | js.Build (dict "targetPath" "/authServiceWorker.js") }}

<script>
  // Register auth service worker
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('{{ $serviceWorker.RelPermalink }}', {scope: '/', origins: ['*']}).then(function(_registration) {
        console.log('ServiceWorker registration successful!')
      }, function(err) {
        console.log('ServiceWorker registration failed: ', err);
      })
    })
  }
  // Redirect to login page if not authenticated
  if (!/\/login?./.test(window.location.pathname) && !window.localStorage.getItem('isAuthenticated')) window.location = '/login'

</script>
